<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SearcherSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="SearcherSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://stuiis.cms.gre.ac.uk/lj048/EuropeBus/MovieDb/Searcher.asmx"
                binding="basicHttpBinding" bindingConfiguration="SearcherSoap"
                contract="MovieSearcher.SearcherSoap" name="SearcherSoap" />
            <endpoint address="http://stuiis.cms.gre.ac.uk/lj048/EuropeBus/MovieDb/Searcher.asmx"
                binding="customBinding" bindingConfiguration="SearcherSoap12"
                contract="MovieSearcher.SearcherSoap" name="SearcherSoap12" />
        </client>
    </system.serviceModel>
</configuration>